body {
  margin: 0;
  padding: 0;
}
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

header {
  padding: 0 50px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}

header a {
  font-family: Montserrat;
  font-weight: 300;
  padding: 0 20px;
  
}
.selected {
  font-weight: 500;
}