body {
  margin: 0;
  padding: 0;
}
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

header {
  padding: 0 50px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}

header a {
  font-family: Montserrat;
  font-weight: 300;
  padding: 0 20px;
  
}
.main {
  width: 100vw;
  height: 100vh;
  font-family: Montserrat;
  font-weight: 400;
  background-color: #EEF2F5;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.grid {
  margin: 0 40px;
  width: 400px;
  height: 100px;
}

/*.count-display,*/
/*.increment,*/
/*.decrement {*/
/*  margin: 5px;*/
/*  padding: 20px;*/
/*}*/
